.number-class{
    
    display: flex;
    list-style: none;
}
.box-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 815px;
    
}

.box-div2{
    display: flex;
    align-items: center;
  
    max-width: 1080px;
}
.hidden{
   visibility: hidden;
}
.number-box{
    width: 2em;
    height: 2em;
    padding: 2px 4px;
    margin: 2px;
    margin-left: 1px;
    text-align: center;

}
.box{
    width: 2em;
    height: 2em;
    padding: 2px 4px;
    border: 1px solid black;
    margin: 2px;

}

.innerbox-div{
    display: flex;
}

.innerbox-div3{
    display: flex;
    margin-left: 6px;
}

.red-box{
    background-color: rgb(253, 123, 123);
}

.blue-box{
    background-color: rgb(135, 177, 250);
}
.green-box{
    background-color: rgb(153, 237, 152);
}

.yellow-box{
    background-color: rgb(237, 233, 152);
}

.last-row{
    margin-left: 90px;
}


